.float {
  animation: float 3s infinite linear alternate;
}
.wave {
  animation: wave 2s infinite linear alternate;
}
.pushable {
  background: hsl(214, 100%, 72%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(214, 100%, 80%);
  color: white;
  font-weight: bold;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

@keyframes float {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translae(-20px);
  }
}

@keyframes wave {
  from {
    transform: scale(1);
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
    transform: scale(1.3);
  }
}
