@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Instrument Serif";
}
.parent-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Instrument Serif";
}
.main-body {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Instrument Serif";
}
.cards {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  .main-body {
    height: 100vh;
  }
  .cards {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-items: center;
    position: sticky;
    top: 0; /* Sticks to the top of the container */
  }
 
  /* .card {
    transform: translateX(-50%, -50%);
    width: 240px;
    height: 360px;
    perspective: 1000px;
  }
  .card-wrapper {
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    animation: floating 3s infinite ease-in-out;
  } */
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 360px;
  perspective: 1000px;
}

.card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 3s infinite ease-in-out;
}

#card-1 .card-wrapper {
  animation-delay: 0;
}

#card-2 .card-wrapper {
  animation-delay: 0.2s;
}

#card-3 .card-wrapper {
  animation-delay: 0.4s;
}

#card-4 .card-wrapper {
  animation-delay: 0.6s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.8em;
  overflow: hidden;
}

.flip-card-back {
  padding: 1em;
  background-color: #fff;
  transform: rotateY(180deg);
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
